<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='icon' type='image/icon' href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/css/blog.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Reset Page / Juste le blog d'un développeur de plus, j'adorerais changer le monde, mais ils ne veulent pas me fournir le code source.">
    <script type="text/javascript" src="/public/js/common.min.js"></script>
    <title>Reset Page</title>
</head>

<body>
    <div class="login-background"></div>
    <div class="cards-container">
        <h1>{{platform_name}}</h1>

        <div class="card">
            <h4>Entrez votre nouveau mot de passe</h4>
            <form id="reset" method="post">
                <input type="password" id="password" name="password" placeholder="Mot de passe" required="required" />
                <input type="password" id="password-check" name="password" placeholder="Mot de passe" required="required" />
                <span id="error" class="hidden-important" aria-live="polite"></span>
                <input id="submit-button" type="submit" value="Connexion" disabled/>
            </form>
        </div>
    </div>

    <script>
        async function reset(event) {
            event.preventDefault()

            const urlParams = new URLSearchParams(window.location.search);
            const token = urlParams.get('token')
            const email = urlParams.get('email')

            const settings = {
                method: "POST",
                body: JSON.stringify({
                    "password": document.getElementById("password").value,
                    "email": email,
                    "token": token
                }),
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }
            }
            const response = await fetch("/api/v1/user/reset_password", settings)
            if (!response.ok) {
                response.json().then(j => {
                    document.getElementById("error").className = "";
                    document.getElementById("error").innerHTML = "Erreur API : " + j.errors[0]
                })
            } else window.location.href = "/blog"
        };

        window.onload = async function() {
            document.getElementById("reset").addEventListener("submit", reset, true)
            checkPasswordSimilarity("password", "password-check", "error", "submit-button")
            checkPasswordSimilarity("password-check", "password", "error", "submit-button")
        }
    </script>

</body>

</html>